In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("/content/survey_results_public.csv")
print(data)

FileNotFoundError: [Errno 2] No such file or directory: '/content/survey_results_public.csv'

In [ ]:
#count the number of null values in each feature
data.isnull().sum()

Respondent           0
Hobby                0
OpenSource           0
Country              0
Student            539
                 ...
Age              13449
Dependents       14348
MilitaryUS       37205
SurveyTooLong    12922
SurveyEasy       12962
Length: 129, dtype: int64

In [ ]:
#count the percentage of null values
data.isnull().sum()/data.shape[0]*100

Respondent        0.000000
Hobby             0.000000
OpenSource        0.000000
Country           0.000000
Student           1.184850
                   ...
Age              29.564090
Dependents       31.540305
MilitaryUS       81.785408
SurveyTooLong    28.405619
SurveyEasy       28.493548
Length: 129, dtype: float64

In [ ]:
#draw the pychart for number of people who finds coding as hobby

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(7, 7))
plt.pie(hobby_counts, labels=hobby_counts.index, autopct='%1.1f%%', startangle=90, colors=['skyblue',
'lightcoral'])
plt.title('Do people find coding as a hobby?')
plt.axis('equal')
plt.show()

NameError: name 'data' is not defined

In [ ]:
#determine the number of people contributing to open source projects

In [ ]:
open_source_contributors = data2[data2['OpenSource'] == 'Yes'].shape[0]
print(open_source_contributors)

NameError: name 'data2' is not defined